.slideshow {
  position: relative;
  margin-bottom: 100px;
}

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: #ddd;
  color: #333;
}

.no-js .slides {
  height: auto;
}

.slides > li {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  -webkit-perspective: 1600px;
  perspective: 1600px;
}

.no-js .slides > li {
  position: relative;
  visibility: visible;
}

.slideshow > nav {
  text-align: center;
  margin-top: 20px;
}

.slideshow > nav span {
  display: inline-block;
  width: 60px;
  height: 25px;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  background-color: #ddd;
  cursor: pointer;
  margin: 0 3px;
  transition: background-color 0.2s;
}

.slideshow > nav span:hover {
  background-color: #333;
}

.slideshow > nav span.current {
  background-color: #aaa;
}

.slideshow .description {
  width: 50%;
  padding: 2em 4em;
  font-size: 1.5em;
  position: relative;
  z-index: 1000;
  opacity: 0;
}

.no-js .description {
  opacity: 1;
}

.slideshow .description h2 {
  font-size: 200%;
}

.slideshow .tiltview {
  position: absolute;
  left: 50%;
  width: 50%;
  top: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(-50%) rotateX(60deg) rotateZ(35deg);
  transform: translateY(-50%) rotateX(60deg) rotateZ(35deg);
}

.slideshow .tiltview a {
  outline: 1px solid transparent;
}

.slideshow .tiltview a,
.slideshow .tiltview a img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.slideshow .tiltview a:first-child {
  margin-bottom: 30px;
}

.slideshow .tiltview.row a {
  width: 48%;
  width: calc(50% - 15px);
  margin: 0;
}

.slideshow .tiltview.row a:nth-child(2) {
  left: 50%;
  left: calc(50% + 15px);
  position: absolute;
  top: 0;
}

/* Show/Hide */
.slideshow .slides > li.current,
.slideshow .slides > li.show {
  visibility: visible;
}

.slideshow .description {
  transition: opacity 0.75s;
}

.slideshow .current .description,
.slideshow .show .description {
  opacity: 1;
}

.slideshow .hide .description {
  opacity: 0;
}

/* Individual effects */

/* Move Up, Move Down, Slide Up, Slide Down, Slide Left, Slide Right */
/* For each effect we'll define the incoming and outgoing animation */

/***********************/
/* Move up */
/***********************/
.slideshow .hide[data-effect-out="moveUpOut"] .tiltview a {
  -webkit-animation: moveUpOut 1.5s both;
  animation: moveUpOut 1.5s both;
}

.slideshow .hide[data-effect-out="moveUpOut"] .tiltview a:nth-child(2) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

@-webkit-keyframes moveUpOut {
  25% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateZ(-30px);
  }
  100% {
    -webkit-transform: translateZ(3000px);
  }
}

@keyframes moveUpOut {
  25% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateZ(-30px);
    transform: translateZ(-30px);
  }
  100% {
    -webkit-transform: translateZ(3000px);
    transform: translateZ(3000px);
  }
}

.slideshow .show[data-effect-in="moveUpIn"] .tiltview a {
  -webkit-animation: moveUpIn 1.5s 0.5s both;
  animation: moveUpIn 1.5s 0.5s both;
}

.slideshow .show[data-effect-in="moveUpIn"] .tiltview a:nth-child(2) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

@-webkit-keyframes moveUpIn {
  0% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateZ(-3000px);
  }
  75% {
    -webkit-transform: translateZ(30px);
  }
  100% {
    -webkit-transform: translateZ(0);
  }
}

@keyframes moveUpIn {
  0% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateZ(-3000px);
    transform: translateZ(-3000px);
  }
  75% {
    -webkit-transform: translateZ(30px);
    transform: translateZ(30px);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

/***********************/
/* Move down */
/***********************/
.slideshow .hide[data-effect-out="moveDownOut"] .tiltview a {
  -webkit-animation: moveDownOut 1.5s both;
  animation: moveDownOut 1.5s both;
}

.slideshow .hide[data-effect-out="moveDownOut"] .tiltview a:nth-child(2) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

@-webkit-keyframes moveDownOut {
  25% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateZ(30px);
  }
  100% {
    -webkit-transform: translateZ(-3000px);
  }
}

@keyframes moveDownOut {
  25% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateZ(30px);
    transform: translateZ(30px);
  }
  100% {
    -webkit-transform: translateZ(-3000px);
    transform: translateZ(-3000px);
  }
}

.slideshow .show[data-effect-in="moveDownIn"] .tiltview a {
  -webkit-animation: moveDownIn 1.5s 0.5s both;
  animation: moveDownIn 1.5s 0.5s both;
}

.slideshow .show[data-effect-in="moveDownIn"] .tiltview a:nth-child(2) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

@-webkit-keyframes moveDownIn {
  0% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateZ(3000px);
  }
  75% {
    -webkit-transform: translateZ(-30px);
  }
  100% {
    -webkit-transform: translateZ(0);
  }
}

@keyframes moveDownIn {
  0% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateZ(3000px);
    transform: translateZ(3000px);
  }
  75% {
    -webkit-transform: translateZ(-30px);
    transform: translateZ(-30px);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

/***********************/
/* Slide up */
/***********************/
.slideshow .hide[data-effect-out="slideUpOut"] .tiltview a {
  -webkit-animation: slideUpOut 1.5s both;
  animation: slideUpOut 1.5s both;
}

.slideshow .hide[data-effect-out="slideUpOut"] .tiltview a:nth-child(2) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

@-webkit-keyframes slideUpOut {
  25% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(-3000px);
  }
}

@keyframes slideUpOut {
  25% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
}

.slideshow .show[data-effect-in="slideUpIn"] .tiltview a {
  -webkit-animation: slideUpIn 1.5s 0.5s both;
  animation: slideUpIn 1.5s 0.5s both;
}

.slideshow .show[data-effect-in="slideUpIn"] .tiltview a:nth-child(2) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

@-webkit-keyframes slideUpIn {
  0% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateY(3000px);
  }
  75% {
    -webkit-transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes slideUpIn {
  0% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateY(3000px);
    transform: translateY(3000px);
  }
  75% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/***********************/
/* Slide down */
/***********************/
.slideshow .hide[data-effect-out="slideDownOut"] .tiltview a {
  -webkit-animation: slideDownOut 1.5s both;
  animation: slideDownOut 1.5s both;
}

.slideshow .hide[data-effect-out="slideDownOut"] .tiltview.row a:nth-child(2),
.slideshow .hide[data-effect-out="slideDownOut"] .tiltview.col a:first-child {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

@-webkit-keyframes slideDownOut {
  25% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(3000px);
  }
}

@keyframes slideDownOut {
  25% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(3000px);
    transform: translateY(3000px);
  }
}

.slideshow .show[data-effect-in="slideDownIn"] .tiltview a {
  -webkit-animation: slideDownIn 1.5s 0.5s both;
  animation: slideDownIn 1.5s 0.5s both;
}

.slideshow .show[data-effect-in="slideDownIn"] .tiltview.row a:nth-child(2),
.slideshow .show[data-effect-in="slideDownIn"] .tiltview.col a:first-child {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

@-webkit-keyframes slideDownIn {
  0% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateY(-3000px);
  }
  75% {
    -webkit-transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes slideDownIn {
  0% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateY(-3000px);
    transform: translateY(-3000px);
  }
  75% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/***********************/
/* Slide left */
/***********************/
.slideshow .hide[data-effect-out="slideLeftOut"] .tiltview a {
  -webkit-animation: slideLeftOut 1.5s both;
  animation: slideLeftOut 1.5s both;
}

.slideshow .hide[data-effect-out="slideLeftOut"] .tiltview a:nth-child(2) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

@-webkit-keyframes slideLeftOut {
  25% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(-5000px);
  }
}

@keyframes slideLeftOut {
  25% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(-5000px);
    transform: translateX(-5000px);
  }
}

.slideshow .show[data-effect-in="slideLeftIn"] .tiltview a {
  -webkit-animation: slideLeftIn 1.5s 0.5s both;
  animation: slideLeftIn 1.5s 0.5s both;
}

.slideshow .show[data-effect-in="slideLeftIn"] .tiltview a:nth-child(2) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

@-webkit-keyframes slideLeftIn {
  0% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateX(3000px);
  }
  75% {
    -webkit-transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes slideLeftIn {
  0% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateX(3000px);
    transform: translateX(3000px);
  }
  75% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/***********************/
/* Slide right */
/***********************/
.slideshow .hide[data-effect-out="slideRightOut"] .tiltview a {
  -webkit-animation: slideRightOut 1.5s both;
  animation: slideRightOut 1.5s both;
}

.slideshow .hide[data-effect-out="slideRightOut"] .tiltview.col a:nth-child(2),
.slideshow .hide[data-effect-out="slideRightOut"] .tiltview.row a:first-child {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

@-webkit-keyframes slideRightOut {
  25% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(3000px);
  }
}

@keyframes slideRightOut {
  25% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(3000px);
    transform: translateX(3000px);
  }
}

.slideshow .show[data-effect-in="slideRightIn"] .tiltview a {
  -webkit-animation: slideRightIn 1.5s 0.5s both;
  animation: slideRightIn 1.5s 0.5s both;
}

.slideshow .show[data-effect-in="slideRightIn"] .tiltview.col a:nth-child(2),
.slideshow .show[data-effect-in="slideRightIn"] .tiltview.row a:first-child {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

@-webkit-keyframes slideRightIn {
  0% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateX(-5000px);
  }
  75% {
    -webkit-transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes slideRightIn {
  0% {
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transform: translateX(-5000px);
    transform: translateX(-5000px);
  }
  75% {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Fallback for no 3D Transforms and no preserve-3d */
.no-csstransformspreserve3d .show .tiltview a,
.no-csstransformspreserve3d .hide .tiltview a,
.no-csstransforms3d .show .tiltview a,
.no-csstransforms3d .hide .tiltview a {
  -webkit-animation: none !important;
  animation: none !important;
}

.no-csstransforms3d .tiltview.col {
  top: -50%;
}

.no-csstransforms3d .tiltview.row {
  top: 20px;
}

/* Some media queries */
@media screen and (max-width: 65.3125em) {
  .slideshow .description,
  .slideshow .tiltview {
    width: 100%;
  }

  .slideshow .tiltview {
    left: 0;
    opacity: 0.3;
    pointer-events: none;
  }
}

@media screen and (max-width: 33.75em) {
  .slideshow .description {
    font-size: 1.1em;
  }

  .slideshow > nav span {
    width: 20px;
    height: 40px;
    margin: 0 10px;
  }
}

@media screen and (max-width: 24em) {
  .slides {
    height: 320px;
  }

  .description {
    font-size: 1em;
    padding: 1.4em;
  }

  .no-csstransforms3d .tiltview.col,
  .no-csstransforms3d .tiltview.row {
    top: 0;
  }
}
